.commercial {
  min-height: 480px;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

.commercial__big-headline {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.commercial__small-description {
  .middle-up-text ();
}

.commercial__choice-program {
  .basic-btn ();
}
