.feed-types {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.feed-types__feed-title {
  .info-headline ();
}

@media (min-width: 768px) {
  .feed-types {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;

    &__feed-title {
      font-size: 60px;
      line-height: 60px;
    }
  }
}

@media (min-width: 1220px) {
  .feed-types {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
