.info {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.info__work-title {
  .info-headline ();
  margin-bottom: 30px;
}

.info__features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info__features-item {
  .basic-text ();
  width: 200px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .info {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1220px) {
  .info {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
