.main-nav__page-list {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  li {
    min-height: 45px;
    text-align: center;
    padding-top: 20px;
  }
}

.main-nav__upper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}

.main-nav__logo-tablet {
  display: none;
}

.main-nav__logo-desktop {
  display: none;
}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 18px 18px;

  &--close {
    background-image: url("../img/icon-close.svg");
    display: none;
  }
}

.main-nav__item,
.main-nav__item--active,
.main-nav__item-dark,
.main-nav__item-dark--active-green {
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .main-nav__page-list {
    display: flex;
    width: 460px;

    li {
      min-height: 0;
      padding: 0;
      margin-right: 35px;
      border-top: none;
    }

    li:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  .main-nav__item,
  .main-nav__item--active,
  .main-nav__item-dark,
  .main-nav__item-dark--active-green {
    font-size: 18px;
    font-weight: 400;
  }

  .main-nav__logo-mobile {
    display: none;
  }

  .main-nav__logo-tablet {
    display: block;
  }

  .main-nav__toggle {
    display: none;

    &--close {
      display: none;
    }
  }

  .main-nav__upper {
    min-height: 0;
  }

  .main-nav__item--active {
    border-bottom: 2px solid #68b738;
    padding-bottom: 10px;
  }

  .main-nav__item-dark--active-green {
    border-bottom: 2px solid #68b738;
    padding-bottom: 10px;
  }

  .main-nav__logo-wrapper {
    width: 173px;
    height: 58px;
    z-index: 1;
  }
}

@media (min-width: 1300px) {
  .main-nav {
    width: 1300px;
    z-index: 1;
  }

  .main-nav__logo {
    margin-left: 0;
    margin-right: 0;
  }

  .main-nav__page-list {
    width: 440px;
  }

  .main-nav__upper {
    margin-right: 467px;
  }

  .main-nav__logo-tablet {
    display: none;
  }

  .main-nav__logo-desktop {
    display: block;
  }

  .main-nav__item,
  .main-nav__item--active {
    color: #ffffff;
  }

  .main-nav__item-dark,
  .main-nav__item-dark--active-green {
    color: #111111;
  }

  .main-nav__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .main-nav__item-dark--active-green {
    padding-bottom: 10px;
    border-bottom: 2px solid #68b738;
  }
}
