body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body > * {
  outline: 1px solid purple;
}

body > * > * {
  outline: 1px solid lightblue;
}

body > * > * > * {
  outline: 1px solid cyan;
}

@import "page-header.less";
@import "variables-mix-mobile.less";
@import "commercial.less";
@import "feed.less";
@import "info.less";
@import "main-footer.less";
@import "feed-types.less";

